body {
  font-family: Arial, sans-serif;
  background-color: #361111;
  color: #b48282;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1{
  font-size: 100px;
}

p{
  font-size: 50px;
}